.circlechart-main{
    position: relative;
    width: 258px;
    max-width: 100%;
    height: 243px;
    background-color: #FBFBFB;
    border-radius: 5px;
}

.circlechart-header{
    position: absolute;
    font-size: 16px;
    font-weight: 600;
	top: 10px;
	left: 10px;
}

.circlechart-legend{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circlechart-score{
    font-size: 26px;
    font-weight: 600;
    color: #282D30;
}

.circlechart-verbatim{
    font-size: 16px;
    font-weight: bold;
    color: #9B9EAC;
}